.movie-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 10px;
}

.movie-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  height: 50vh;
  border: 2px solid black;
  border-radius: 30px;
  overflow: hidden;
}

.movie-card-container img{
  width: 100%;
}

.movie-card-container h4 {
  font-size: 1.6em;
}

.movie-card-container h5 {
  font-size: 1.2em;
}

.movie-card-container h5, .movie-card-container h4, .movie-card-container p {
  padding: 0 10px;
}

.movie-card-container div {
  margin: 0 5px;
}