.App {
background: linear-gradient(to top, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-title {
  display: flex;
  justify-content: center;
  align-self: stretch;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  margin-bottom: 15px;
}

.movies-div {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: center;
}

.content-movie-div {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px;
  border-radius: 15px;
  background-color: rgb(245, 236, 236);
  border: ridge rgb(255, 255, 255);
  width: 320px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h4 {
  font-size: 22px;
  align-self: stretch;
  border-bottom: solid 2px rgb(8, 147, 172);
  margin-bottom: 0;
  padding-bottom: 20px;
}

h5 {
  font-size: 18px;
  margin-bottom: 0;
}

p.story {
  padding: 5px;
  text-align: left;
  font-family:fantasy;
  font-size: 18px;
  border-bottom: solid 2px rgb(8, 147, 172);
}

p.rating {
  color: white;
  -webkit-text-stroke: 1px #000102;
  text-shadow: 0px 1px 4px #000000;
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}